# TP Python Boucle bornée

## Rappels de la syntaxe

Une boucle bornée est utilisée lorsque l'on connaît excatement et à l'avance le nombre de répétitions à effectuer.

En python, pour utiliser une boucle bornée, on se base (le plus souvent) sur la fonction range().

Exemples :

1. La fonction range avec un seul argument. Cet argument désigne le nombre de tour de boucle à effectuer.

In [ ]:
for i in range(5):
    print(i)

2. La fonction range avec deux arguments. Le premier désigne la première valeur du compteur et le deuxième désigne la valeur qui suit la dernière valeur du compteur.

In [ ]:
for i in range(3,9):
    print(i)

3. La fonction range avec trois arguments. Le premier désigne la première valeur du compteur, le deuxième désigne la valeur qui suit la dernière valeur du compteur et le troisième désigne le pas.

In [ ]:
for i in range(2,17,3):
    print(i)

## Premier exercice

1. Ecrire un script qui affiche les 10 premiers entiers naturels.

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

2. Ecrire un script qui affiche tous les entiers naturels pairs inférieurs à 50.

In [2]:
for i in range(0,50,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

3. Ecrire un script qui affiche tous les multiples de 3, inférieurs à 50.

In [3]:
for i in range(0,50,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

4. Ecrire un script qui affiche tous les multiples de 3 et de 7, inférieurs à 50.

In [4]:
for i in range(50):
    if i%3==0 and i%7==0:
        print(i)

0
21
42

## Deuxième exercice

### Partie A
Au 1er janvier 2018,Carole verse sur son livret jeune 1500 €.Le taux de rémunération est de 2,5%.

Compléter le programme Python qui permet de calculer et d'afficher chaque 1er janvier son nouveau capital jusqu'au 1er janvier 2030.

In [5]:
C = 1500
for i in range(12):
    C= C*1.025
print('Le capital au bout de',i,'années est :',round(C,2))

Le capital au bout de 11 années est : 2017.33

### Partie B : avec des fonctions

#### 1. Avec une variable

Quel sera son capital si elle place 1500 €, 2000 €, 4500 €, 10 000 € ?

Pour répondre à cette question nous allons écrire une fonction.

Compléter le script suivant pour que la fonction Capital retourne le capital au 1er janvier 2030 en fonction du capital C placé au 1er janvier 2018 au taux de 2,5 % :

In [8]:
def capital(C):
    for i in range(12):
        C=C*1.025
    print('Le capital au premier janvier 2030 est :',round(C,2))
capital(1500)
capital(2000)
capital(4500)
capital(10000)

Le capital au premier janvier 2030 est : 2017.33
Le capital au premier janvier 2030 est : 2689.78
Le capital au premier janvier 2030 est : 6052.0
Le capital au premier janvier 2030 est : 13448.89

#### 2. Avec deux variables

On souhaite maintenant connaître le capital le 1er janvier 2030, 2035, 2040, 2045, et selon le montant placé.

Compléter le script suivant pour que la fonction Capital2 retourne le capital au 1er janvier
2018 + N en fonction du capital C, placé au 1er janvier 2018 au taux de 2,5 %, et de N :

In [9]:
def capital2(C,N):
    for i in range(N):
        C=C*1.025
    print("Le capital au premier janvier de l'année",2018+N,"est :",round(C,2))
    
capital2(3000,12)
capital2(3000,17)
capital2(3000,22)
capital2(3000,27)

Le capital au premier janvier de l'année 2030 est : 4034.67
Le capital au premier janvier de l'année 2035 est : 4564.85
Le capital au premier janvier de l'année 2040 est : 5164.71
Le capital au premier janvier de l'année 2045 est : 5843.4

Combien aura-t-elle de capital en 2030, 2035, 2040, 2045 si elle place 3000 € au taux de 2,5% ?

#### 3. Avec trois variables.

On souhaite maintenant pourvoir faire varier le montant initial, le taux et la durée.

Ecrire une fonction capital3 qui permet cela.

In [12]:
def capital3(C,N,T):
    C0=C
    for i in range(N):
        C=C*(1+T/100)
    print("Le capital obtenu au premier janvier",2018+N,"en plaçant",C0,"€ à",T,"% est :",round(C,2))
capital3(2000,22,3)
capital3(5000,27,4)

Le capital obtenu au premier janvier 2040 en plaçant 2000 € à 3 % est : 3832.21
Le capital obtenu au premier janvier 2045 en plaçant 5000 € à 4 % est : 14416.84

Calculer le capital obtenu au premier janvier 2040, en plaçant 2000 € à un taux de 3 %.

Calculer le capital obtenu au premier janvier 2045, en plaçant 5000 € à un taux de 4 %.

## Exercice 3

Un triplet Pythagoricien est un triplet d'entiers non nuls $a$, $b$ et $c$, tels que $$a^2+b^2=c^2$$

1. Compléter le script ci-dessous pour qu'il affiche la liste de tous les triplets pythagoriciens, avec $c \leqslant 30$.(
On veut la liste avec $a < b$.)

In [14]:
for a in range(1,31):
    for b in range(a,31):
        for c in range(1,31):
            if a**2+b**2==c**2:
                print(a,b,c)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
10 24 26
12 16 20
15 20 25
18 24 30
20 21 29

2. Modifier le script précédent pour qu'il affiche le nombre N de triplets pythagoriciens avec c ≤ 200.

In [15]:
n=0
for a in range(1,201):
    for b in range(a,201):
        for c in range(1,201):
            if a**2+b**2==c**2:
                n+=1
print(n)

127